{% extends 'newsroom/base_visitor.html' %}
{% block content %}

{% if news %}

<div class="card">
    <h4 class="card-header">{{ news.news_title }}</h4>
    <div class="card-body">
        <h6 class="card-title">
            Author: {{ news.news_author }},
            Publisher: {{ news.news_publisher }}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ news.news_date | date}}
        </h6>
        <p class="card-text">
            {{ news.news_body }}
        </p>
    </div>
</div>
{% else %}
News does not exist.
{% endif %}
{% endblock %}