{% extends 'newsroom/base_visitor.html' %}
{% block content %}

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <p class="card-text">

        <form action="" method="post" role="form" class="form-horizontal">
            {% csrf_token %}
            {% include 'newsroom/form_template.html' %}
            <div class="form-group row">
                <div class="offset-sm-4 col-sm-8">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
        </p>
    </div>
</div>

{% endblock %}